spring:
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}

  cloud:
    aws:
      region:
        static: us-east-1
      credentials:
        access-key: "dev"
        secret-key: "dev"
      sqs:
        enabled: false

