spring:
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

  cloud:
    aws:
      region:
        static: sa-east-1
      credentials:
        access-key: "dev"
        secret-key: "dev"
      sqs:
        enabled: false

