APP_PORT=8080

PROFILE=dev

POSTGRES_URL=jdbc:postgresql://db:5432/postgres
POSTGRES_DB=postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

FLYWAY_USER=flyway_user
FLYWAY_PASSWORD=password

APP_USER=app_user
APP_PASSWORD=password

JWT_SECRET=a-very-long-and-secure-secret-key-that-is-at-least-32-chars

REDIS_HOST=redis
REDIS_PORT=6379

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
