services:
  db:
    image: postgres:15
    container_name: user-db
    environment:
      POSTGRES_USER: joao
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
